
h1{
    padding: 20px;
    text-align: center;
}
.wrap{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.label{
    display: flex;
}
.forms{
    display: flex;
    width: 85%;
    align-items: center;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 1px 1px 10px #888888;
}
mat-form-field {
    margin-right:10px;
}


.forms1 {
    display: flex;
    margin: 10px;
    align-items: center;
}

.forms button{
    margin-right: 10px;
    width: 30%;
}

.info{
   align-self: stretch;
    color: rgb(95, 162, 162);
}
.info :hover{
    cursor: pointer;
    color: rgb(8, 193, 193);
 }

 @media (max-width:1173px) {
    .forms1 {
        display: flex;
        flex-wrap: wrap;
        margin: 10px;
        align-items: center;
    }
    
    .wrap{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .label{
        display: flex;
    }
    .forms{
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        align-items: center;
        border-radius: 20px;
     
 }}