<h1>Histórico de cotação</h1>
<div class="wrap ">
  <div class="forms container">
    <form [formGroup]="search" >
      <div class="forms1">
        <div>
          <label for="moeda">Moeda</label>
          <mat-form-field id="moeda" appearance="outline">
            <mat-label >Selecione a moeda</mat-label>
            <mat-select formControlName="moeda">
              <mat-option
                *ngFor="let item of valuesOfDropDown"
                value="{{ item.ID }}"
              >
                {{ item.TEXT }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div> 
          <label for="firstDate">Data inicial</label>
          <mat-form-field id="firstDate" appearance="outline">
          <mat-label>Escolha a data inicial</mat-label>
          <input [max]="today" formControlName="dataInicial" matInput [matDatepicker]="startPicker" [disabled]="true">
            <mat-datepicker-toggle
              matSuffix
              [for]="startPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startPicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <label for="lastDate">Data Final</label>
          <mat-form-field id="lastDate" appearance="outline">
            <mat-label>Escolha a data final</mat-label>
            <input [min]="search.get('dataInicial')?.value" [max]="today"  formControlName="dataFinal"matInput [matDatepicker]="finalPicker" [disabled]="true" />
            <mat-datepicker-toggle
              matSuffix
              [for]="finalPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #finalPicker  disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </form>
      <button type="button" class="btn btn-success" (click)="sendData()" [disabled]="search.invalid">  <mat-icon style="color: white ; float: left;">check</mat-icon> Consultar dados</button>
      <button type="button" class="btn btn-primary" (click)="attData()" [disabled]="search.invalid" ><mat-icon style="color: white ; float: left;">sync</mat-icon> Atualizar dados</button>
  </div>
</div>
