
.wrap{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.forms{
    justify-content: center;
    display: flex;
    width: 85%;
    align-items: center;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 1px 1px 10px #888888;
}
.scrollTable{
    height: 500px;;
    overflow:scroll;
    overflow-x:hidden;
}
